#wrapper {
	position: relative;
	top: 40px;
	margin: 0 auto;
	min-height: 600px;
	width: 400px;
	border: 3px solid rgb(95,210,255);
	-webkit-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.55);
}

header {
	position: relative;
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
	top: 20px;
	font-family: 'Orbitron', sans-serif;
}

form {
	text-align: center;
}

input {
	text-align: center;
	width: 300px;
	height: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: sans-serif;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

.item-added {
	text-align: center;
	width: 360px;
	height: 30px;
	border: 1px solid rgb(95,210,255);
	margin: 10px auto;
	color: rgb(95,210,255);
	font-size: 23px;
	-webkit-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	background-color: white;
	font-family: sans-serif;
	padding-top: 5px;
}

.delete {
	position: relative;
	cursor: pointer;
	float: left;
	width: 15px;
	height: 20px;
	font-size: 20px;
	top: 2px;
	left: 5px;
}

.check {
	position: relative;
	cursor: pointer;
	float: right;
	width: 15px;
	height: 20px;
	font-size: 20px;
	top: 2px;
	right: 5px;
}

.checked-off {
	color: rgb(255,146,95);
	border-color: rgb(255,146,95);
	-webkit-transition: border-color 1s, color ease 1s;
    -moz-transition: border-color 1s, color ease 1s;
    -o-transition: border-color 1s, color ease 1s;
    transition: border-color 1s, color ease 1s;
}

@media screen and (min-width: 360px) and (max-width: 640px), (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {

#wrapper {
	width: 90%;
}

header {
	font-size: 120px;
}

input {
	height: 80px;
	width: 700px;
	font-size: 60px;
}

.item-added {
	width: 90%;
	height: 50%;
	font-size: 50px;
}

.delete {
	font-size: 50px;
}

.check {
	font-size: 50px;
}

}